@font-face {
  font-family: 'Stem';
  src: url('fonts/STM55.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stem';
  src: url('fonts/STM75.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit
}

body {
    font-family: Stem, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    color: #2a2a2a;
    width: 100%;
    min-height: 100vh;
}
